
<div class="msg-pic"><img src="/img/picture.png" class="index"/></div>
<div ng-controller="IndexCtrl" class="container">
  <div class="time">時　間　{{ now | date: 'yyyy/MM/dd HH:mm:ss' }}
    <div class="control-group pull-right"><a href="#/factory/check/add" class="mybtn">新增</a><a class="mybtn">查詢</a></div>
  </div>
  <div class="msg">{{msg}}
    <div class="pull-right"><a class="mybtn">我知道了</a></div>
  </div>
  <div class="room">
    <h3 class="blue">萵苣室</h3>
    <div ng-repeat="block in blocks" ng-class="{first: $first, last: $last}" class="block">
      <div class="img {{block.class}}">{{block.name}}</div>
      <div class="text">{{block.value}}</div>
    </div>
  </div>
  <div class="room">
    <h3 class="blue">草莓室</h3>
    <div ng-repeat="block in blocks" ng-class="{first: $first, last: $last}" class="block">
      <div class="img {{block.class}}">{{block.name}}</div>
      <div class="text">{{block.value}}</div>
    </div>
  </div>
  <div class="report">
    <div class="title"> 
      <h3>工廠情況</h3><a class="mybtn">修改</a><a class="time-tab">上午</a><a class="time-tab">下午</a>
      <h4 class="pull-right">檢查時間 2013 10 02 15:23</h4>
    </div>
    <div ng-repeat="item in items" ng-class="pos($index)" class="block item">
      <div class="img {{item.class}}">{{item.name}}</div>
      <div class="text">{{item.value}}</div>
    </div>
    <div ng-show="false" class="content">今天還沒有檢查喔！</div>
  </div>
</div>