
<ul class="breadcrumb">
  <li><a href="#/">栽培室</a><span class="divider">/</span></li>
  <li>{{room.name}} </li>
</ul>
<ul class="sheives">
  <li ng-repeat="shelf in sheives" class="shelf">
    <ul class="name">{{shelf.name}}
      <li ng-repeat="level in levels" class="level"><a ng-href="#/{{room._id.$oid}}/{{shelf._id.$oid}}/{{level.pos}}/box" class="{{level.pos}}">
          <h2>{{level.name}}</h2></a></li>
    </ul>
  </li>
  <li class="plus"><a ng-click="plus()">
      <h4>新增栽培架</h4></a></li>
</ul>