
<div class="msg-pic"><img src="/img/sky.png" class="log"/></div>
<div class="nav-bar">
  <div class="container">
    <ul class="navtabs">
      <li> <a class="mybtn">草莓室</a></li>
      <li> <a class="mybtn">萵苣室</a></li>
    </ul>
  </div>
</div>
<div id="main">
  <div class="container">
    <div class="big-pic"><img src="http://img1.qq.com/comic/pics/747/747563.jpg"/></div>
    <div class="control-panel">
      <div class="add"><a class="mybtn">新增紀錄</a></div>
      <div class="search"><a class="mybtn">查詢</a></div>
      <div class="tag"><a class="mybtn">作物</a><a class="mybtn">設備</a></div>
      <div class="date">記錄日期 2013/10/2</div>
    </div>
    <div class="thumbs"><img src="http://img1.qq.com/comic/pics/747/747563.jpg" class="first"/><img src="http://img1.qq.com/comic/pics/747/747563.jpg"/><img src="http://img1.qq.com/comic/pics/747/747563.jpg"/><img src="http://img1.qq.com/comic/pics/747/747563.jpg"/><img src="http://img1.qq.com/comic/pics/747/747563.jpg"/><img src="http://img1.qq.com/comic/pics/747/747563.jpg"/><img src="http://img1.qq.com/comic/pics/747/747563.jpg" class="last"/><img src="http://img1.qq.com/comic/pics/747/747563.jpg" class="first"/>
      <!--img(src='http://img1.qq.com/comic/pics/747/747563.jpg')-->
    </div>
  </div>
</div>