
<div class="msg-pic"><img src="/img/datagb.png" class="log"/></div>
<div class="nav-bar">
  <div class="container">
    <ul class="navtabs">
      <li><a ng-click="switchRoom('room1')" ng-class="{active: active == 'room1'}" class="mybtn">萵苣室</a></li>
      <li> <a ng-click="switchRoom('room2')" ng-class="{active: active == 'room2'}" class="mybtn">草莓室</a></li>
      <li> <a ng-click="switchRoom('room3')" ng-class="{active: active == 'room3'}" class="mybtn">西安展場</a></li>
    </ul>
  </div>
</div>
<div id="main">
  <div class="container">
    <div class="chart-control">
      <div class="block first">
        <div ng-click="switch('par')" class="img par"></div>
      </div>
      <div ng-show="its" class="block">
        <div ng-click="switch('led')" class="img led"></div>
      </div>
      <div class="block">
        <div ng-click="switch('in')" class="img in"></div>
      </div>
      <div class="block">
        <div ng-click="switch('rh')" class="img rh"></div>
      </div>
      <div class="block">
        <div ng-click="switch('ph')" class="img ph"></div>
      </div>
      <div ng-show="!its" class="block">
        <div ng-click="switch('ec')" class="img ec"></div>
      </div>
      <div ng-show="!its" class="block">
        <div ng-click="switch('water')" class="img water"></div>
      </div>
      <div ng-show="!its" class="block last">
        <div ng-click="switch('co2')" class="img co2"></div>
      </div>
    </div>
    <div class="historyChart"></div>
    <div ng-show="!its" ng-click="show('day')" ng-class="{'btn-primary': primary =='day'}" class="btn">	天顯示</div>
    <div ng-show="!its" ng-click="show('week')" ng-class="{'btn-primary': primary =='week'}" class="btn">	週顯示</div>
    <div ng-show="its" ng-click="show('day')" ng-class="{'btn-primary': primary =='day'}" class="btn">	小時顯示</div>
    <div ng-show="its" ng-click="show('week')" ng-class="{'btn-primary': primary =='week'}" class="btn">六小時顯示		</div>
  </div>
</div>