
<div class="msg-pic"><img src="/img/movies.png" class="log"/></div>
<div class="nav-bar">
  <div class="container">
    <ul class="navtabs">
      <li> <a ng-click="switch('room1')" ng-class="{active: active == 'room1'}" class="mybtn">萵苣室</a></li>
      <li> <a ng-click="switch('room2')" ng-class="{active: active == 'room2'}" class="mybtn">草莓室</a></li>
    </ul>
  </div>
</div>
<div id="main">
  <div class="container"><img ng-src="{{camera}}"/>
    <!--img(src="http://ubuntu20:camera@140.120.190.16:81/cgi/jpg/image.cgi")-->
  </div>
</div>